<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Invoice</title>
  <style>
  .gridtable td,th {
    border-width: 2px;
    border-style: solid;
    border-color: #000000;
    border-collapse:collapse;
  }
  .gridtable2 td,th {
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
    border-collapse:collapse;
  }
  .toprow{
    font-size: 18px;
    font-weight: 700;
    color:#54b01f;
  }
  .servicehead{
    font-size: 18px;
    color:#54b01f;
  }
  .footer{
    font-size: 18px;
    color:#bf3419;
  }
</style> 
</head>
<body>
  <table align="center" style="border-collapse: collapse; border: 2px solid #000000;">    
    <tr class="gridtable">
      <td colspan="11" align="center"><strong>Service Confirmation Voucher</strong></td>
    </tr>

    <tr class="gridtable">
      <td colspan="4" align="center" class="toprow">Mr. Abhishek Kushwaha</td>
      <td colspan="3" align="center" class="toprow">No. of Pax</td>
      <td colspan="4" align="center" class="toprow">4 Pax</td>
   </tr>

    <tr class="gridtable">
      <td colspan="11" align="left"><strong>Flight Details</strong></td>
    </tr>

    <tr class="gridtable">
      <td colspan="1">14-Jun</td>
      <td colspan="2">AI 330</td>
      <td colspan="2">Mumbai (BOM)</td>
      <td colspan="2">01:50 Hrs</td>
      <td colspan="2">Bangkok (BKK)</td>
      <td colspan="2">07:45 Hrs</td>
    </tr>

     <tr class="gridtable">
      <td colspan="11" align="left"><strong>Hotel Details</strong></td>
    </tr>

    <tr class="gridtable">
      <td colspan="4">Pattaya</td>
      <td colspan="4">Grand Bella</td>
      <td colspan="2">14-Jun</td>
      <td colspan="2">16-Jun</td>
    </tr>
    <tr class="gridtable">
      <td colspan="4">Bangkok</td>
      <td colspan="4">Marvel Sukhumvit</td>
      <td colspan="2">16-Jun</td>
      <td colspan="2">18-Jun</td>
    </tr>
   
   <tr class="gridtable">
      <td colspan="11" align="left"><strong>Services</strong></td>
    </tr>

    

    <tr>
      <td colspan="12">
        <table width="100%" align="center" style="border-collapse: collapse; border:hidden;">
          <thead>
            <tr class="gridtable servicehead" align="center">
              <th>Date</th>
              <th>Pick-up Time</th>
              <th>Pick-up Point</th>
              <th>Service</th>
              <th>Transfer Type</th>              
            </tr>
          </thead>
          <tbody align="center">
            <tr class="gridtable2" align="center">
              <td>14-Jun</td>
              <td>08:45 Hrs</td>
              <td>Suvarnabhmi Airport Between Gate No. 3 & 4</td>
              <td>Transfer to Pattaya Hotel En-Route Siracha Tiger Zoo</td>
              <td>Pvt.</td>               
            </tr>
            <tr class="gridtable2" align="center">
              <td>14-Jun</td>
              <td>15:00 Hrs</td>
              <td>Hotel Lobby</td>
              <td>Gems Gallery Tour Floating Martket Mini Siam</td>
              <td>Pvt.</td>               
            </tr>
             
          </tbody>           
    </table>
  </td>
</tr>
  
            <tr class="gridtable servicehead">
              <td colspan="11" align="left">Note: </td>
            </tr>
            <tr class="gridtable">
               <td colspan="11" align="left">
                →Please find Placard in name of Lead Guest on Airport Pick-up Points<br>
                →SIC Transfer Is SEAT IN COACH Basis <br>
                →Waiting Time for SIC Transfer is upto 5 Minutes<br>
                →Waiting Time for Private Transfer is upto 30 Minutes<br>
                →No Refund will be processed in case the guest is unavailable at pickup point on pickup time<br>
                →Any Change in Pick-up timing will be informed by our local tour Operator<br>
                →Private Transfer doesn't mean that the vehicle is at disposal for full day<br>
                →Drinking Alcohol in Vehicle is a penensible offence in Thailand
              </td>
            </tr>
            <tr class="gridtable footer">
              <td colspan="11" align="left">Pattaya & Bangkok Duty Manager Contact No. : +66 970265006 </td>
            </tr>
        

</table>
</body>
</html>
